.online {
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
    background: url(../img/online.png) no-repeat 0 0 transparent;
    text-indent:-1000em;
}
.online.on{
    background-position: 0 -16px;
    cursor:pointer;
}