.tooltip, .tooltip.bottom {
    display:none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D9E6E8');
    background: -moz-linear-gradient(center top , #FFFFFF, #D9E6E8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#D9E6E8));
    -webkit-box-shadow: 1px 1px 2px #888888;
    box-shadow: 1px 1px 2px #888888;
    color: #333;
    display: none;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    text-shadow: 1px 1px 1px #FFFFFF;
    max-width: 200px;
    z-index: 1000;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 12px #ccc, 0 0 9px #fff inset;
    box-shadow: 0 0 12px #ccc, 0 0 9px #fff inset;
}