.uploadifyQueueItem {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE');
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#EEEEEE));
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 0 4px #DDDDDD, 0 0 4px #FFFFFF inset;
    box-shadow: 0 0 4px #DDDDDD, 0 0 4px #FFFFFF inset;
    font: 11px Verdana,Geneva,sans-serif;
    margin-top: 5px;
    padding: 5px 0;
    width: 100%;
}
.uploadifyError {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#fff3c4') !important;
    background: -moz-linear-gradient(center top , #FFFFFF, #fff3c4) repeat scroll 0 0 transparent !important;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#fff3c4)) !important;
}
.uploadifyQueueItem .cancel {
    float: right;
    margin: 0 10px 0;
}
.uploadifyQueue .completed {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#D9E6E8');
    background: -moz-linear-gradient(center top , #FFFFFF, #D9E6E8) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#D9E6E8));
}
.uploadifyQueue .fileName {
    margin: 0 0 0 10px;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 5px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow:0px -1px 1px #ddd inset;
    box-shadow:0px -1px 1px #ddd inset;
}
.uploadifyProgressBar {
    background-color: #00A2EC;
    -webkit-box-shadow: 0 1px 2px #FFFFFF inset;
    box-shadow: 0 1px 2px #FFFFFF inset;
    width: 1px;
    height: 6px;
}